/**
 * A class with a prefix of "pioneer-tree" is static and always available.
 *  Of which is typically supplied on the wrapper of a components content.
 *
 * A class with a prefix of "pt" is dynamic and add or removed on events
 *
 * There was a choice to nest styles in order to demonstrate relationships between 
 * components. This is not the most effecient and can be refactored to cut some 
 * size out of your style sheet.
 */
 .pioneer-tree-root {
    margin: 0;     
 }

.pioneer-tree {
    list-style: none;

    .pioneer-tree-node {

        .pioneer-tree-node-content {
            
            .pioneer-tree-collapse {
                cursor: pointer;
            }

            &.pt-node-selected{
                background: #ccc;
            }
        }

        .pt-repeater-collapsed{
            display: none;
        }
    }
}