/**
 * A class with a prefix of "pioneer-tree" is static and always available.
 *  Of which is typically supplied on the wrapper of a components content.
 *
 * A class with a prefix of "pt" is dynamic and add or removed on events
 *
 * There was a choice to nest styles in order to demonstrate relationships between 
 * components. This is not the most effecient and can be refactored to cut some 
 * size out of your style sheet.
 */
$dark-color: #2A2E31;
$grey-color: #666;
$green-color: #3b805e;

.pioneer-tree-root {
    margin: 0;     
}

.pioneer-tree {
    list-style: none;

    .pioneer-tree-node {

        .pioneer-tree-node-content {
            padding: 0 0.5rem;
            border: 1px solid $dark-color;

            &:hover {
                border: 1px solid $grey-color;
                background: $grey-color;
            }
            
            .pioneer-tree-collapse {
                cursor: pointer;
            }

            &.pt-node-selected{
                background: #fff;
                color: $dark-color;
            }

            .pioneer-tree-handle {
                cursor: move;
            }
        }
        
        .pt-dropzone-drag-over {
            background: $green-color;
        }

        .pt-repeater-collapsed{
            display: none;
        }
    }
}