/**
 * A class with a prefix of "pioneer-tree" is static and always available.
 *  Of which is typically supplied on the wrapper of a components content.
 *
 * A class with a prefix of "pt" is dynamic and add or removed on events
 *
 * There was a choice to nest styles in order to demonstrate relationships between 
 * components. This is not the most effecient and can be refactored to cut some 
 * size out of your style sheet.
 */
$dark-color: #2A2E31;
$grey-color: #666;
$green-color: #3b805e;
$red-color: #cc4b37;
$white-color: #fefefe;

.pioneer-tree-root {
    margin: 0;     
}

.pioneer-tree {
    list-style: none;

    .pioneer-tree-dropzone-sort {
        height: 2px;
        
        &.pt-dropzone-drag-over {
            height: 1.5rem;
            // margin: 0 0 0 1rem;
            border: 2px dashed $white-color;
            background: $green-color;
        }
    }

    .pioneer-tree-dropzone-root {
        height: 2px;
        
        &.pt-dropzone-drag-over {
            height: 1.5rem;
            // margin: 0 0 0 1rem;
            border: 2px dashed $white-color;
            background: $red-color;
        }
    }

    .pioneer-tree-node {

        .pioneer-tree-node-content {
            padding: 0 0.5rem;

            &:hover {
                background: $grey-color;
            }
            
            .pioneer-tree-collapse {
                cursor: pointer;
            }

            &.pt-node-selected{
                background: $white-color;
                color: $dark-color;
            }

            .pioneer-tree-handle {
                cursor: move;
            }

            &.pt-dropzone-drag-over {
                background: $green-color;
            }

            &.pt-dropzone-drag-over-deny {
                background: $red-color;
            }
        }

        .pt-repeater-collapsed{
            display: none;
        }
    }
}