.idea
node_modules
jspm_packages
npm-debug.log
debug.log
src/**/*.js
!src/site/systemjs.config.extras.js
!src/site/systemjs.config.js
!src/site/systemjs-angular-loader.js
*.js.map
e2e/**/*.js
e2e/**/*.js.map
_test-output
_temp
bundles
dist
src/site/app/lib/**/*.js
src/site/site/app/lib/**/*.map
src/site/app/lib/**/*.d.ts
src/site/app/**/*.js
src/site/app/**/*.map
src/site/app/**/*.d*
src/site/pioneer-tree/**/*
package-lock.json
.publish
.github/gh-pages