# dependencies
/node_modules

# file
.github
.editorconfig
.gitignore
.npmignore
.travis.yml
bs-config.e2e.json
bs-config.json
CHANGELOG.md
gulpfile.js
karma.conf.js
karma-test-shim.js
package-lock.json
package.json
protractor.config.js
rollup.config.js
tslint.json
CONTRIBUTING.md
/e2e
/src/**/*pipe.ts
/src/**/*spec.ts
/src/**/tsconfig*
/src/**/systemjs*
/src/**/*css
/src/**/*js
/src/**/*map
/src/**/*html
/src/**/favicon*
/src/sites/fonts/**/*
/src/sites/images/**/*
/.publish
/.vs
/.vscode
